body {
    display: grid;
    /* priskiriame sabloninius stulpeliu plocius */
    grid-template-columns: 100px 1fr 140px;
    grid-template-areas: 
        "hed hed hed"
        "menu feed msg";
}

header {
    grid-area: hed;
    background-color: blue;
}

aside {
    background-color: #f5f5f5;
}
.menu {
    grid-area: menu;
}
.feed {
    grid-area: feed;
}
.messenger {
    grid-area: msg;
}
main {
    background-color: pink;
    padding: 40px;
}